a {
  color: inherit;
  text-decoration: none;
  margin: 0 8px;
}

.spacer {
  flex: 1;
}

:host {
  border-bottom: 1px solid #909090;
}

img {
  width: 70%;
}

mat-toolbar {
  align-items: center;
}
